flows.json
[
    {
        "id": "b5d1af96.0416f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ecfb5e1f.9d2968",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "937fb672.57239",
                "20fba707.cd184"
            ]
        ]
    },
    {
        "id": "2940e5b2.8324da",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "937fb672.57239",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "clean & filter ",
        "func": "var stringArray;\nvar result;\nvar moteId;\nvar topic;\nvar regexValue = /random:/\nvar regexId = /id:/\nvar regexTopic = /topic:/\nvar N = 70;\n\nstringArray = msg.payload.split(\" \");\n\nfor(var i = 0; i < stringArray.length; i++){\n    if(stringArray[i].match(regexValue)){\n        result = stringArray[i+1];\n    } \n    \n    if(stringArray[i].match(regexId)){\n        moteId = stringArray [i+1];\n    }\n    \n    if(stringArray[i].match(regexTopic)){\n        topic = stringArray [i+1];\n    }\n}\n\nif(result <= N){\n    msg.payload = topic + \" \" +  moteId + \" \" + result;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "2940e5b2.8324da",
                "1b1c9ed9.e146e9"
            ]
        ]
    },
    {
        "id": "1b1c9ed9.e146e9",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "filter by mote_id",
        "func": "stringArray = msg.payload.split(\" \");\nvar field1 = \"channels/1070802/publish/fields/field1/J0EWHKO4RY2SVMFO\";\nvar field2 = \"channels/1070802/publish/fields/field2/J0EWHKO4RY2SVMFO\";\n\n\nif(stringArray[1] == \"2\"){\n    msg.topic = field1;\n}\nelse if(stringArray[1] == \"3\"){\n    msg.topic = field2;\n}\n\nmsg.payload = stringArray[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "29db44b7.511524",
                "240e9e43.c29a3a"
            ]
        ]
    },
    {
        "id": "6d033fbc.799d9",
        "type": "mqtt out",
        "z": "b5d1af96.0416f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "3a6e067e.5ce802",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "240e9e43.c29a3a",
        "type": "delay",
        "z": "b5d1af96.0416f8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "6d033fbc.799d9"
            ]
        ]
    },
    {
        "id": "29db44b7.511524",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "20fba707.cd184",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 320,
        "y": 380,
        "wires": []
    },
    {
        "id": "3a6e067e.5ce802",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
